body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li a:hover,
li a:focus {
  background-color: darkgrey !important;
  color: white !important;
}

li:last-child {
  margin-right: 0 !important;
}
/* Media query for screens under 950px */
@media (max-width: 1020px) {
  main {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

/* Media query for screens under 700px */
@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr !important;
  }
}